// ---------------- Blur / Transparency ---------------

window-rule {
    opacity 0.9
    background-effect {
        blur true
        noise 0.3
        saturation 5
    }
}

window-rule {
    match is-active=false
    opacity 0.95
    background-effect {
        blur true
        noise 0.3
        saturation 5
    }
}

window-rule {
    match app-id="firefox$"
    opacity 1.0
    background-effect {
        blur false
    }
}

window-rule {
    match app-id="code$"
    opacity 1.0
    background-effect {
        blur false
    }
}
